.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.welcome-section {
    animation: fadeIn 2s ease-in-out;
    border-radius: 15px;
    margin-top: -500px;
    padding: 20px;

}

.welcome-text {
    font-size: 2.5rem;
    color: #FFFFFF;
    /* Dark green for trust and health association */
    font-weight: bold;
    text-transform: uppercase;
}

.welcome-subtext {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #FFFFFF;
    /* Medium green for readability */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* ------------------------------------------------------------------- */

.Introduction-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: -550px;
}

.hospital-image {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.introduction-section {
    display: flex;
    justify-content: flex-end;
    margin-left: 450px;
    align-items: center;

}

.intro-card {
    background-color: transparent;
    /* White background for the card */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
    padding: 20px;
    max-width: 500px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    /* Better readability */
    color: #333;
    /* Darker text for contrast */
}

.intro-card::before {
    content: "Introduction";
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2c3e50;
    /* Dark blue heading */
}