/* Add Staff Button */
.add-staff-btn {
    /* position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #37474f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s; */
}

.add-staff-btn:hover {
    background-color: #1a237e;
}

/* General container styles */
.staff-list-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Table Styles */
.staff-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.staff-table th,
.staff-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.staff-table th {
    background-color: #024d82;
    color: white;
    font-weight: bold;
}

.staff-table td {
    background-color: rgb(220, 230, 245);
}

.search-input {
    width: 195px;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
    transition: border-color 0.3s;
}

/* Modal Styling */
.custom-modal .modal-dialog {
    max-width: 50%;
    margin: 120px auto;
}

/* Profile Image */
.staff-image {
    width: 50px;
    height: 50px;
    margin-left: 28px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0096FF;
}

/* Modal Customization */
.custom-modal .modal-header {
    color: white;
    font-weight: bold;
    border-bottom: none;
}

.custom-modal .modal-title {
    font-size: 20px;
    font-weight: 600;
}

.custom-modal .modal-body {
    padding: 20px;
    background-color: #f8f9fa; /* Light background */
}

.custom-modal .form-group {
    margin-bottom: 15px;
}

.custom-modal .form-control-custom {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
}

.custom-modal .form-control-custom:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-modal .btn-cancel {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
}

.custom-modal .btn-cancel:hover {
    background-color: #c82333;
}

.custom-modal .btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 14px;
}

.custom-modal .btn-primary:hover {
    background-color: #0056b3;
}

/* Adjust spacing between form elements */
.custom-modal .row {
    margin-bottom: 10px;
}
